<div id="soap-creation-area" class="column" style="right:0">
  <a href="#laboratory" class="button orange" id="save-mixture-button">Save</a>
  <a href="#laboratory" class="button" id="clear-mixture-button">Clear</a>
  <a href="#potionMakersMixtures" class="button" id="view-mixtures-button">View Mixtures</a>
  <!-- <a href="#potionMakersMixtures" class="button" id="view-mixtures-button">Check</a> -->
  <a href="http://www.123contactform.com/form-663560/Check-Out" class="button">Check Out</a>
  <ul id="soap-reagents">
  </ul>
</div>
